.tools/
data/
dist/*
local/

*.sqlite
*.sqlite-shm
*.sqlite-wal
*.tar.gz
*.log

.env
.env.*
*.pem
*.key

!dist/
!dist/desertcms-openbsd-runtime-v2.tar.gz
!dist/desertcms-openbsd-runtime-v2.tar.gz.sha256
!dist/desertcms-source-v2.tar.gz
!dist/desertcms-source-v2.tar.gz.sha256
